<div class="bar-container">
  <div class="profile">
    <image class="circular" src="../../../images/no_logo.jpg"></image>
    <div class="profile-label">{{navBarCtrl.getUserName()}}</div>
  </div>

  <div class="group">Общие:</div>

  <ul class="group-chats">
    <md-button class="item-chat">Home<span class="badge">5</span></md-button>
    <md-button class="item-chat">About<span class="badge">4</span></md-button>
    <md-button class="item-chat">Contact<span class="badge">3</span></md-button>
  </ul>

  <div class="group">Мои:</div>

  <ul class="group-chats">
    <md-button class="item-chat">Home<span class="badge">5</span></md-button>
    <md-button class="item-chat">About<span class="badge">4</span></md-button>
    <md-button class="item-chat">Contact<span class="badge">3</span></md-button>
  </ul>

  <!--<ul class="nav navbar-nav navbar-right">
    <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
  </ul>-->
</div>
