<div class="bar-container">
  <div class="profile">
    <image class="circular" src="../../../images/no_logo.jpg"></image>
    <div class="profile-label">Дмитрий</div>
  </div>

  <div class="group">Общие:</div>

  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a ng-href="#">Home<span class="badge">3</span></a></li>
    <li><a ng-href="#/main/qwe">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>

  <div class="group">Мои:</div>

  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a ng-href="#">Home<span class="badge">3</span></a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>

  <!--<ul class="nav navbar-nav navbar-right">
    <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
  </ul>-->
</div>
