<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form name="login-form">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email" ng-model="user.login">
      </div>

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
      </div>

      <button type="submit" ng-click="update(user)" class="login-submit-float">Login</button>
    </form>
  </div>
</div>
