.main-header {
  position: fixed;
}
.main-footer {
  position: fixed;
  bottom: 0;
  display: inline-block;
}
.main-footer > .form-input {
  float: left;
  width: 400px;
}
.main-footer > .btn-send {
  float: left;
  margin-top: 20px;
}
.main-body {
  top: 100px;
  position: relative;
}
.message-item {
  margin: 5px;
  padding: 20px 10px;
  flex-direction: column;
}
.message-item-user {
  font-size: 12px;
  color: #0a7fb9
}
.message-item-time {
  color: orange;
  font-size: 12px;
  flex-basis: 0;
}
.message-item-body {
  flex-basis: 40px;
}
