.main-container {
  margin-left: 300px;
  padding-left: 20px;
  margin-top: 50px;
}
.main-header {
  position: fixed;
}
.main-footer {
  position: fixed;
  bottom: 0;
  display: inline-block;
}
.main-footer > .form-input {
  float: left;
  width: 400px;
}
.main-footer > .btn-send {
  float: left;
  margin-top: 20px;
}
